<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Shishire/Proboscis">
            <file>Tests/Shishire/ProboscisTest/RestClientTest.php</file>
            <file>Tests/Shishire/ProboscisTest/ResponseObject/UserTest.php</file>
            <file>Tests/Shishire/ProboscisTest/ResponseObject/ResponseObjectTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
